<%= form_tag :controller => 'record',:action => 'period_search' do %>
  <div class="field">
    <%= select_tag( 'period',options_for_select(['月曜1限','月曜2限','月曜3限','月曜4限','月曜5限',
    														'火曜1限','火曜2限','火曜3限','火曜4限','火曜5限',
    														'水曜1限','水曜2限','水曜3限','水曜4限','水曜5限',
    														'木曜1限','木曜2限','木曜3限','木曜4限','木曜5限',
    														'金曜1限','金曜2限','金曜3限','金曜4限','金曜5限','集中'],{ :multiple => true })) %>
  </div>
  
  <%= submit_tag '検索' %>
<% end %> 
