div.jikanwari table {width: 800px;
                     table-layout: auto;}

div.jikanwari th {width: auto;
                  border: solid 1px #aaaaaa;
                  padding: 8px;
                  background-color: #66aa66;
                  color: #ffffff;
                  font-size: 90%;
                  text-align: left;}

div.jikanwari td {width: 150px;
                  height: 70px;
                  boder: solid 1px #aaaaaa;
                  padding: 8px;
                  font-size: 90%;}

#first {width: 60px;}
